.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  border-top: 3px solid 	rgb(218,165,32);
  border-bottom: 3px solid 	rgb(218,165,32);
}

.navLink {
  font-weight: bold;
  color: rgb(148, 10, 10);
  padding-left: 10px;
  padding-right: 10px
}

.navLink:hover {
  transition: all 0.2 ease-in-out;
  transform: scale(1.1);
  color:  rgb(148, 10, 10);
}

.divider {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 0px;
  font-weight: bold;
  color: rgb(218,165,32)
}

.logo {
  height: 12rem;
}

.jumbo {
  background-image: url(./images/webb.png);
}

